<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">


<div th:fragment="mobieshow">
    <div class="header-right2 d-flex align-items-center">
        <!-- Social -->
        <div class="header-social  d-block d-md-none">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
        </div>
        <!-- Search Box -->
        <div class="search d-block d-md-none">
            <ul class="d-flex align-items-center">
                <li class="mr-15">
                    <div class="nav-search search-switch">
                        <i class="ti-search"></i>
                    </div>
                </li>
                <li>
                    <div class="card-stor">
                        <img src="assets/img/gallery/card.svg" alt="">
                        <span>0</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
