<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<div th:fragment="new">
    <div class="new-arrival">
        <div class="container">
            <!-- Section tittle -->
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s"
                         data-wow-delay=".2s">
                        <h2>new<br>products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div th:each="item : ${new_product}" class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s"
                         data-wow-delay=".1s">
                        <div class="popular-img">
                            <img th:src="@{'../assets/img/gallery/'+${item.image}}" alt="">
                            <div class="favorit-items">
                                <!-- <span class="flaticon-heart"></span> -->
                                <img class="shopBtns" src="assets/img/gallery/new.png" alt="">
                            </div>
                        </div>
                        <div class="popular-caption">
                            <h3><a href="product_details.html" th:text="${item.name}"></a></h3>
                            <div class="rating mb-10">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span th:text="${item.price}"></span>
                            <h4>
                                <a class="shopBtn" th:href="@{'/AddCart/' + ${item.id}}" title="add to cart">
                                Add to cart </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Button -->
            <div class="row justify-content-center">
                <div class="room-btn">
                    <a th:href="@{/new_product}" class="border-btn">View More</a>
                </div>
            </div>
        </div>
    </div>
</div>
