<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<div th:fragment="sellect">
    <div class="col-xl-3 col-lg-3 col-md-4 ">
        <!-- Job Category Listing start -->
        <div class="category-listing mb-50">
            <!-- single one -->
            <div class="single-listing">
                <!-- Select City items start -->
                <div class="select-job-items2">
                    <select name="select2">
                        <option value="">Category</option>
                        <option value="">Shat</option>
                        <option value="">T-shart</option>
                        <option value="">Pent</option>
                        <option value="">Dress</option>
                    </select>
                </div>
                <!--  Select City items End-->
                <!-- Select State items start -->
                <div class="select-job-items2">
                    <select name="select3">
                        <option value="">Type</option>
                        <option value="">SM</option>
                        <option value="">LG</option>
                        <option value="">XL</option>
                        <option value="">XXL</option>
                    </select>
                </div>
                <!--  Select State items End-->
                <!-- Select km items start -->
                <div class="select-job-items2">
                    <select name="select4">
                        <option value="">Size</option>
                        <option value="">1.2ft</option>
                        <option value="">2.5ft</option>
                        <option value="">5.2ft</option>
                        <option value="">3.2ft</option>
                    </select>
                </div>
                <!--  Select km items End-->
                <!-- Select km items start -->
                <div class="select-job-items2">
                    <select name="select5">
                        <option value="">Color</option>
                        <option value="">Whit</option>
                        <option value="">Green</option>
                        <option value="">Blue</option>
                        <option value="">Sky Blue</option>
                        <option value="">Gray</option>
                    </select>
                </div>
                <!--  Select km items End-->
                <!-- Select km items start -->
                <div class="select-job-items2">
                    <select name="select6">
                        <option value="">Price range</option>
                        <option value="">$10 to $20</option>
                        <option value="">$20 to $30</option>
                        <option value="">$50 to $80</option>
                        <option value="">$100 to $120</option>
                        <option value="">$200 to $300</option>
                        <option value="">$500 to $600</option>
                    </select>
                </div>
                <!--  Select km items End-->
            </div>
        </div>
        <!-- Job Category Listing End -->
    </div>
</div>
