<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<div th:fragment="slider">
    <div class="slider-active dot-style">
        <!-- Single -->
        <div class="single-slider slider-bg1 hero-overly slider-height d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9">
                        <!-- Hero Caption -->
                        <div class="hero__caption">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single -->
        <div class="single-slider slider-bg2 hero-overly slider-height d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9">
                        <!-- Hero Caption -->
                        <div class="hero__caption">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single -->
        <div class="single-slider slider-bg3 hero-overly slider-height d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9">
                        <!-- Hero Caption -->
                        <div class="hero__caption">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
